/*Fichier css pour le tableau (TP2 - Olivier Gagnon)*/

#tableau{
    width: 100vw;
    height: 100vh;
    padding: 140px;
    text-align: center;
}

#tableau h2{
    font-family: "Times";
    padding-right: 150px;
    font-size: 1.5em;
}

table{
    border: 2px solid black;
    padding: 0;
    border-collapse: collapse;
    width: 800px;
    height: 600px;
    margin: 0 25%;
}

caption{
    border: 2px solid black;
    border-bottom: 0;
    background-color: gray;
    font-weight: bold;
    color: white;
}

th{
    border: 1px solid black;
    padding: 2px;
    background-color: lightgray;
}

td{
    border: 1px solid black;
    padding: 2px;
}

tfoot{
    background-color: gray;
    font-weight: bold;
    color: white;
}